.cart_item {
  display: grid;
  background-color: rgb(239, 255, 251);
  border: 2px solid rgba(2, 174, 180, 0.363);
  border-radius: 40px;
  padding: 20px;
  margin: 30px;
  transition: 0.5s;
}

.cart_item:hover {
  box-shadow: 4px 1px 12px 0px rgb(31, 29, 49);
}

.cart_item p {
  margin-top: 10px;
  margin-bottom: 10px;
}

.fav_btn {
  border: none;
  border-radius: 10px;
  background-color: rgb(2, 171, 201);
  color: rgb(2, 59, 124);
  cursor: pointer;
  font-size: 15px;
  padding: 8px;
  margin-bottom: 15px;
  text-align: center;
  width: fit-content;
  transition: transform 1s cubic-bezier(0.88, 0.01, 0.58, 1);
}

.fav_btn_add {
  border: none;
  border-radius: 10px;
  background-color: rgba(2, 171, 201, 0);
  color: rgb(0, 119, 255);
  font-weight: bold;
  cursor: pointer;
  font-size: 20px;
  padding: 8px;
  margin-bottom: 5px;
  text-align: center;

  transition: transform 1s cubic-bezier(0.88, 0.01, 0.58, 1);
}

.fav_btn:hover {
  transform: translateX(60px);
}
.cart_img {
  width: 200px;
  justify-self: center;
  border-radius: 30px;
}
.cart_title {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: rgb(0, 119, 255);
}

.price {
  color: rgb(2, 57, 175);
  font-weight: bold;
}

.cart_price {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.cart_price span {
  font-size: 25px;
  font-weight: bold;
}

.add_cart {
  cursor: pointer;
  border-radius: 50px;
  border: none;
  background-color: rgb(159, 191, 238);
  text-align: center;
  padding: 5px;
}
.add_cart:hover {
  background-color: rgb(247, 222, 3);
  color: rgb(255, 255, 255);
  cursor: pointer;
}
